/* HEADER
******************************************************/

#header {
	margin-bottom: 0;
}

#main-heading p {
	font-weight: 100;
}

#search-box {
	margin-bottom: 0;
	font-size: 80%;
}

/* MAIN CONTENT
******************************************************/

#page-placeholder {
	border-bottom: 0;
	height: 75vh;
	font-weight: 100;
}

.video-title {
	padding: 20px;
}

.lity-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER
******************************************************/

.logo-footer {
    width: 250px;
    height: 33.618582px;
    margin-right: 5px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin-top: 10px;
}

.footer-bottom {
    position: absolute;
    left: 0;
    right: 0;
	bottom: 0;
}